#game_room {
    height: 100%;
}

.top_header_info {
    border-radius: 25px;
    background-color: #62499f;
    color: #00ccb9;
    display: flex;
    flex-direction: row;
}

#opponent_table th, #opponent_table td {
    padding: 0.35em !important;
    text-align: center !important;
}
#user_table th, #opponent_table td {
    text-align: center !important;
}

.room_info_player_label {
    text-align: left;
    padding-top: 5px;
    padding-left: 25px;
    width: 45%;
}

.room_info_details {
    text-align: right;
    padding-right: 15px;
    flex: 1;
}

#login_room {
    height: 100%;
}

#opponent_moves {
    width: 100%;
}
#user_moves {
    width: 100%;
}

.status_guess_winner {
    color: white;
    background-color: #1a9d1d;
}

.status_guess_close {
    background-color: #fd7e14;
    color: white;
}

.error_alert {
    background-color: red;
    color: white;
}

.loser_result_cls {
    background-color: red;
    color: white;
}

.winner_result_cls {
    background-color: #56008b;
    color: #20e1bd;
}

.your_move_alert {
    color:white;
    background-color: darkgreen;
}

.info_alert {
    color:white;
    background-color: #007bff;
}

.index_column {
    background-color: #d0cece;
    color: #4e8ccc;
    text-align: center;
    width: 60px;
}

#admin_section {
    display: none;
    padding: 3px;
}

#user_table th td {
    font-size: 11px;
}

#game_result {
    text-align: center;
}

#login_notification_section {
    display: none;
    text-align: center;
    padding-top: 25px;
}
.round_edges {
    border-radius: 25px;
    padding: 3px;
}

.float_center {
    width: 98%;
    padding: 5px;
}

.game_room_content_cls {
    border-radius: 25px;
    flex: 1;
    height: 100%;
    width: 100%;
}

#full_window_content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}

.expand_down {
    flex: 1;

}

.last_added_row {
    border: 2px solid deepskyblue !important;
}

#admin_stats_rooms_table th, #admin_stats_rooms_table td {
    padding: 0.25em !important;
}
#admin_stats_tokens_table th, #admin_stats_tokens_table td {
    padding: 0.25em !important;
}

.room-info-buttons {
    padding: 0rem .75rem !important;
    font-size: 0.75em !important;
}


