#game_room {
    width: 100%;
}

#login_room {
    height: 80%;
}

#opponent_moves {
    float: right;
    width: 50%;
}
#user_moves {
    float: left;
    width: 50%;
}

.status_guess_winner {
    color: #1c7430;
}

.status_guess_close {
    color: #fd7e14;
}

.error_alert {
    color:red;
}

.your_move_alert {
    color:white;
    background-color: darkgreen;
}

.info_alert {
    color: #007bff;
}